4_1_0/schemas/extension/nas/NasCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
   attributeFormDefault="unqualified"
   elementFormDefault="qualified"
   targetNamespace="http://www.faa.aero/nas/4.2"
   version="4.2.1"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:fb="http://www.fixm.aero/base/4.1"
   xmlns:fx="http://www.fixm.aero/flight/4.1"
   xmlns:mesg="http://www.fixm.aero/messaging/4.1"
   xmlns:nas="http://www.faa.aero/nas/4.2"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <annotation>
      <documentation>
         Copyright (c) 2018 US Federal Aviation Administration (FAA) 
         =========================================== 
         All rights reserved. 
          
         Redistribution and use in source and binary forms, with or without modification, 
         are permitted provided that the following conditions are met: 
         * Redistributions of source code must retain the above copyright notice, this list 
         of conditions and the disclaimer. 
         * Redistributions in binary form must reproduce the above copyright notice, this 
         list of conditions and the disclaimer in the documentation and/or other materials 
         provided with the distribution. 
         * The name of US FAA or the names of its contributors may not be used to endorse 
         or promote products derived from this specification without specific prior written 
         permission. 
          
         DISCLAIMER 
          
         THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
         AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
         WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
         IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, 
         INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED 
         TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR 
         BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
         CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN 
         ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH 
         DAMAGE. 
          
         ========================================== 
         Editorial note: this license is an instance of the BSD license template as provided 
         by the Open Source Initiative: 
         http://www.opensource.org/licenses/bsd-license.php 
          
         The authoritative reference for FIXM is www.FIXM.aero. 
          
         Details on the US FAA: http://www.faa.gov/ 
      </documentation>
   </annotation>
   <import namespace="http://www.fixm.aero/base/4.1" schemaLocation="./../../../schemas/core/base/Base.xsd"/>
   <import namespace="http://www.fixm.aero/flight/4.1" schemaLocation="./../../../schemas/core/flight/Flight.xsd"/>
   <import namespace="http://www.fixm.aero/messaging/4.1" schemaLocation="./../../../schemas/core/messaging/Messaging.xsd"/>
   <annotation>
      <documentation>
         Defines NAS specific time concepts that are shared among several elements. 
      </documentation>
   </annotation>

   <simpleType name="ConstrainedAirspaceType">
      <annotation>
         <documentation>
            Constrained Airspace such as Flow Constrained Area (FCA) 
         </documentation>
      </annotation>
      <restriction base="fb:CharacterStringType"/>
   </simpleType>

   <complexType name="NameValueListType">
      <annotation>
         <documentation>
            A basic list of name/value pairs. 
             
            The name/value list structure is intended for use in the RARE situations where otherwise 
            unstructured data can be rendered into a semi-structure of tags and data. It is not 
            appropriate for adding arbitrary data to arbitrary places in the schema. 
         </documentation>
      </annotation>
      <sequence>
         <element name="nameValue" type="nas:NameValuePairType" minOccurs="0" maxOccurs="20" > 
            <annotation>
               <documentation>
                  A set of up to 10 name-value pairs. 
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <element name="NameValueList" type="nas:NameValueListType" /> 

   <complexType name="NameValuePairType">
      <annotation>
         <documentation>
            This is a general purpose data structure used when it is desired to map an identifying 
            string (the "name") into a data string (the "value"). These name/value pairs are 
            often part of a repeating element so that the whole element expresses a set of names 
            mapped onto a set of values. 
         </documentation>
      </annotation>
      <attribute name="name" use="optional" > 
         <annotation>
            <documentation>
               The identifying portion of the pair, formatted as if for an enumeration. Consider 
               using an actual enumeration for legal values. 
            </documentation>
         </annotation>
         <simpleType>
            <restriction base="fb:CharacterStringType">
               <pattern value="[A-Z0-9_]{1,20}"/>
            </restriction>
         </simpleType>
      </attribute>
      <attribute name="value" use="optional" > 
         <annotation>
            <documentation>
               The data content portion of the pair. This is intended for a *short* unstructured 
               string like a natural language comment, and should not be used as storage for codes, 
               values, or other structured data. 
            </documentation>
         </annotation>
         <simpleType>
            <restriction base="fb:CharacterStringType">
               <minLength value="0"/>
               <maxLength value="100"/>
            </restriction>
         </simpleType>
      </attribute>
   </complexType>
   <element name="NameValuePair" type="nas:NameValuePairType" /> 

   <complexType name="NasRunwayInformationType">
      <annotation>
         <documentation>
            Contains supplementary provenance information and classification information for 
            the runway designator. 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="nas:ProvenanceType">
            <attribute name="classificationType" type="nas:RunwayClassificationTypeType" use="optional" > 
               <annotation>
                  <documentation>
                     Indicates the level of certainty of the runway to be used by the flight.  Well prior 
                     to the use of the runway, the name of the runway is just a prediction.  However, 
                     as the flight’s window to use the runway gets shorter, the runway would be assigned 
                     to the flight.  Once landed, the actual runway used by the flight would be reported. 
                     
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="NasRunwayInformation" type="nas:NasRunwayInformationType" substitutionGroup="nas:Provenance" /> 

   <complexType name="NasStandInformationType">
      <annotation>
         <documentation>
            Contains the name of the aircraft stand. 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="nas:ProvenanceType">
            <attribute name="standName" type="fb:TextNameType" use="optional" > 
               <annotation>
                  <documentation>
                     Name of the stand. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="NasStandInformation" type="nas:NasStandInformationType" substitutionGroup="nas:Provenance" /> 

   <complexType name="ProvenanceType">
      <annotation>
         <documentation>
            Contains the provenance information such as the reported timestamp and the source 
            of the report. 
         </documentation>
      </annotation>
      <attribute name="reportedTimestamp" type="fb:TimeType" use="optional" > 
         <annotation>
            <documentation>
               Indicates the timestamp of when the time was reported. 
            </documentation>
         </annotation>
      </attribute>
      <attribute name="source" type="nas:SourceType" use="optional" > 
         <annotation>
            <documentation>
               Source of the time report. 
            </documentation>
         </annotation>
      </attribute>
   </complexType>
   <element name="Provenance" type="nas:ProvenanceType" /> 

   <complexType name="ReportedTimeType">
      <annotation>
         <documentation>
            Represents time that was reported by a source including the source and timestamp 
            of when the time was reported 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="nas:ProvenanceType">
            <attribute name="time" type="fb:TimeType" use="optional" > 
               <annotation>
                  <documentation>
                     Time which is the subject of the ReportedTime. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="ReportedTime" type="nas:ReportedTimeType" substitutionGroup="nas:Provenance" /> 

   <simpleType name="RunwayClassificationTypeType">
      <annotation>
         <documentation>
            Indicates the level of certainty of the runway to be used by the flight.  Well prior 
            to the use of the runway, the name of the runway is just a prediction.  However, 
            as the flight’s window to use the runway gets shorter, the runway would be assigned 
            to the flight.  Once landed, the actual runway used by the flight would be reported. 
            
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="ASSIGNED"/>
         <enumeration value="PREDICTED"/>
         <enumeration value="ACTUAL"/>
      </restriction>
   </simpleType>

   <simpleType name="RunwayUnassignedIndicatorType">
      <annotation>
         <documentation>
            Indicates that the runway associated with a flight is unassigned. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="RUNWAY_UNASSIGNED"/>
      </restriction>
   </simpleType>

   <simpleType name="SlotAssignmentType">
      <annotation>
         <documentation>
            Arrival or departure slot assignment. 
         </documentation>
      </annotation>
      <restriction base="fb:CharacterStringType"/>
   </simpleType>

   <simpleType name="SourceType">
      <annotation>
         <documentation>
            Source of the report. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AIRSPACE_USER"/>
         <enumeration value="TFDM"/>
         <enumeration value="TFMS"/>
         <enumeration value="STARS"/>
         <enumeration value="TBFM"/>
         <enumeration value="TDLS"/>
         <enumeration value="ERAM"/>
      </restriction>
   </simpleType>

   <simpleType name="TerminalNameType">
      <annotation>
         <documentation>
            Common terminal name. 
         </documentation>
      </annotation>
      <restriction base="fb:TextNameType"/>
   </simpleType>
</schema>
