4_1_0/schemas/extension/nas/NasMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
   attributeFormDefault="unqualified"
   elementFormDefault="qualified"
   targetNamespace="http://www.faa.aero/nas/4.2"
   version="4.2.1"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:fb="http://www.fixm.aero/base/4.1"
   xmlns:fx="http://www.fixm.aero/flight/4.1"
   xmlns:mesg="http://www.fixm.aero/messaging/4.1"
   xmlns:nas="http://www.faa.aero/nas/4.2"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <annotation>
      <documentation>
         Copyright (c) 2018 US Federal Aviation Administration (FAA) 
         =========================================== 
         All rights reserved. 
          
         Redistribution and use in source and binary forms, with or without modification, 
         are permitted provided that the following conditions are met: 
         * Redistributions of source code must retain the above copyright notice, this list 
         of conditions and the disclaimer. 
         * Redistributions in binary form must reproduce the above copyright notice, this 
         list of conditions and the disclaimer in the documentation and/or other materials 
         provided with the distribution. 
         * The name of US FAA or the names of its contributors may not be used to endorse 
         or promote products derived from this specification without specific prior written 
         permission. 
          
         DISCLAIMER 
          
         THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
         AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
         WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
         IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, 
         INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED 
         TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR 
         BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
         CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN 
         ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH 
         DAMAGE. 
          
         ========================================== 
         Editorial note: this license is an instance of the BSD license template as provided 
         by the Open Source Initiative: 
         http://www.opensource.org/licenses/bsd-license.php 
          
         The authoritative reference for FIXM is www.FIXM.aero. 
          
         Details on the US FAA: http://www.faa.gov/ 
      </documentation>
   </annotation>
   <import namespace="http://www.fixm.aero/base/4.1" schemaLocation="./../../../schemas/core/base/Base.xsd"/>
   <import namespace="http://www.fixm.aero/flight/4.1" schemaLocation="./../../../schemas/core/flight/Flight.xsd"/>
   <import namespace="http://www.fixm.aero/messaging/4.1" schemaLocation="./../../../schemas/core/messaging/Messaging.xsd"/>
   <annotation>
      <documentation>
         This package contains a basic message definition prototype. Each message can contain 
         a FIXM flight and be part of a message collection as a means to transport FIXM data. 
         It is included as part of the NAS extension to allow basic messaging capability that 
         is not agreed upon in the Core FIXM. 
      </documentation>
   </annotation>

   <complexType name="AsdexConfidenceType">
      <annotation>
         <documentation>
            Confidence of the  ASDE-X position accuracy. 
         </documentation>
      </annotation>
      <attribute name="navigationIntegrityCategory" use="optional" > 
         <annotation>
            <documentation>
               Navigation IntegrityCategory 
               0:= 20 NM or Unknown 
               1:&amp;lt; 20 NM 
               2:&amp;lt; 8 NM 
               3:&amp;lt; 4 NM 
               4:&amp;lt; 2 NM 
               5:&amp;lt; 1 NM 
               6:&amp;lt; 0.6 NM 
               7:&amp;lt; 0.2 NM 
               8:&amp;lt; 0.1 NM 
               9:&amp;lt; 75  m 
               10:&amp;lt; 25 m 
               11:&amp;lt; 7.5 m 
            </documentation>
         </annotation>
         <simpleType>
            <restriction base="fb:CountType">
               <maxInclusive value="11"/>
               <minInclusive value="0"/>
            </restriction>
         </simpleType>
      </attribute>
      <attribute name="positionNavigationAccuracyCategory" use="optional" > 
         <annotation>
            <documentation>
               Navigation Accuracy Category for Position. 
                
               0:= 10 NM 
               1:&amp;lt; 10 NM 
               2:&amp;lt; 4 NM 
               3:&amp;lt; 2 NM 
               4:&amp;lt; 1 NM 
               5:&amp;lt; 0.5 NM 
               6:&amp;lt; 0.3 NM 
               7:&amp;lt; 0.1 NM 
               8:&amp;lt; 0.05 NM 
               9:&amp;lt; 30 m 
               10:&amp;lt; 10 m 
               11:&amp;lt; 3 m 
            </documentation>
         </annotation>
         <simpleType>
            <restriction base="fb:CountType">
               <maxInclusive value="11"/>
               <minInclusive value="0"/>
            </restriction>
         </simpleType>
      </attribute>
      <attribute name="sourceIntegrityLevel" use="optional" > 
         <annotation>
            <documentation>
               Source integrity level – probability of exceeding NIC Containment Radius 
               0: Unknown 
               1: &amp;lt; 10-3 
               2: &amp;lt; 10-5 
               3: &amp;lt; 10-7 
            </documentation>
         </annotation>
         <simpleType>
            <restriction base="fb:CountType">
               <maxInclusive value="3"/>
               <minInclusive value="0"/>
            </restriction>
         </simpleType>
      </attribute>
   </complexType>
   <element name="AsdexConfidence" type="nas:AsdexConfidenceType" /> 

   <complexType name="MessageMetadataType">
      <annotation>
         <documentation>
            The MessageMetadata provides a unique message identifier, the origin of the message 
            in time and location, 
                the system
                that produced the message, and the time span over which the message data is valid.
         </documentation>
      </annotation>
      <sequence>
         <element name="asdexConfidence" type="nas:AsdexConfidenceType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Confidence of the SDSS system regarding the ASDE-X position accuracy. 
               </documentation>
            </annotation>
         </element>
         <element name="provenance" type="nas:MessageProvenanceType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Message provenance data. Can be used by system to describe details involved in sending 
                  the message including source, center and system.. 
               </documentation>
            </annotation>
         </element>
         <element name="trigger" type="nas:TriggerType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Container for Message Trigger information such as the type of trigger and timestamp. 
                  
               </documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="messageType" type="fb:CharacterStringType" use="optional" > 
         <annotation>
            <documentation>
               Type of message. For example track update, flight plan amendment. 
            </documentation>
         </annotation>
      </attribute>
      <attribute name="sensitivity" use="optional" > 
         <annotation>
            <documentation>
               Sensitivity of the message 
            </documentation>
         </annotation>
         <simpleType>
            <restriction base="fb:CharacterStringType">
               <pattern value="[A-Z]"/>
            </restriction>
         </simpleType>
      </attribute>
      <attribute name="sensitivityReason" type="fb:CharacterStringType" use="optional" > 
         <annotation>
            <documentation>
               Reason for the message sensitivity. 
            </documentation>
         </annotation>
      </attribute>
      <attribute name="sequenceNumber" type="fb:CountType" use="optional" > 
         <annotation>
            <documentation>
               Used to ensure message order is maintained regardless of delivery mechanism. 
            </documentation>
         </annotation>
      </attribute>
   </complexType>
   <element name="MessageMetadata" type="nas:MessageMetadataType" /> 

   <complexType name="MessageProvenanceType">
      <annotation>
         <documentation>
            Message provenance data. Can be used to describe details involved in sending the 
            message including the airport, center, system, and/or TRACON that produced the data 
            contained in the message and the time at which it was produced. 
         </documentation>
      </annotation>
      <attribute name="airport" type="fb:CharacterStringType" use="optional" > 
         <annotation>
            <documentation>
               The airport that produced the data contained in the Message. 
            </documentation>
         </annotation>
      </attribute>
      <attribute name="center" type="fb:CharacterStringType" use="optional" > 
         <annotation>
            <documentation>
               The ATC center (or FIR) that produced the data contained in the Message 
            </documentation>
         </annotation>
      </attribute>
      <attribute name="source" type="fb:CharacterStringType" use="optional" > 
         <annotation>
            <documentation>
               The source that produced the data contained in the Message, if the source is not 
               an ATC facility. 
               While this field has no formal definition, it might take values such as: 
                
               - an Airline Operations Center (AOC) 
               - a Traffic Flow center 
               - an international data provider 
            </documentation>
         </annotation>
      </attribute>
      <attribute name="system" type="fb:CharacterStringType" use="optional" > 
         <annotation>
            <documentation>
               The name of the system that generated the data contained in the Message 
            </documentation>
         </annotation>
      </attribute>
      <attribute name="timestamp" type="fb:TimeType" use="optional" > 
         <annotation>
            <documentation>
               The time at which the provenance information was recorded. 
            </documentation>
         </annotation>
      </attribute>
      <attribute name="tracon" type="fb:CharacterStringType" use="optional" > 
         <annotation>
            <documentation>
               The TRACON that produced the data contained in the Message. 
            </documentation>
         </annotation>
      </attribute>
   </complexType>
   <element name="MessageProvenance" type="nas:MessageProvenanceType" /> 

   <complexType name="NasMessageType">
      <annotation>
         <documentation>
            FlightMessage is used to transmit FIXM flight objects. 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:ExtensionType">
            <sequence>
               <element name="metadata" type="nas:MessageMetadataType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        The MessageMetadata provides a unique message identifier, the origin of the message 
                        in time and location, 
                the system
                that produced the message, and the time span over which the message data is valid.
                     </documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <element name="NasMessage" type="nas:NasMessageType" substitutionGroup="fb:Extension" /> 

   <complexType name="TriggerType">
      <annotation>
         <documentation>
            Container for Message Trigger information such as the type of trigger and timestamp. 
            
         </documentation>
      </annotation>
      <attribute name="timestamp" type="fb:TimeType" use="optional" > 
         <annotation>
            <documentation>
               Trigger timestamp 
            </documentation>
         </annotation>
      </attribute>
      <attribute name="triggerType" type="fb:CharacterStringType" use="optional" > 
         <annotation>
            <documentation>
               Describes the message trigger type. 
            </documentation>
         </annotation>
      </attribute>
   </complexType>
   <element name="Trigger" type="nas:TriggerType" /> 
</schema>
