4_1_0/example/base/Measures.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>
			This package contains Measure types and related units of measure. [FIXM]
			Base.Measures.UnitsOfMeasure = Units for measure types. [FIXM]
		</xs:documentation>
	</xs:annotation>

	<xs:complexType name="AltitudeType">
		<xs:annotation>
			<xs:documentation>
				The vertical distance of a level, a point or an object considered as a point, measured
				from mean sea level (MSL). [ICAO Doc 4444]
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="VerticalDistanceType">
				<xs:attribute name="uom" type="UomAltitudeType" use="required" >
					<xs:annotation>
						<xs:documentation>
							Unit of measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="AngleType">
		<xs:annotation>
			<xs:documentation>
				The amount of rotation needed to bring one line or plane into coincidence with another,
				generally measured in radians or degrees. [ISO 19103, chapter 6.5.7.9]
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="RestrictedAngleType">
				<xs:attribute name="uom" type="UomAngleType" use="required" >
					<xs:annotation>
						<xs:documentation>
							Unit of measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="RestrictedAngleType">
		<xs:annotation>
			<xs:documentation>
				Helper type for restrictions on AngleType
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="MeasureType">
			<xs:maxInclusive value="360"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="BearingType">
		<xs:annotation>
			<xs:documentation>
				A data type used to represent direction in the coordinate reference system. [ISO
				19107, chapter 6.3.12.1]

				The value of a bearing indication (at a given point) is measured as the angle between
				the bearing and either True North or Magnetic North. The angle is measured clockwise
				from 0 degrees up to and including 360 degrees. The value can also be a VOR radial.
				[AIXM 5.1]
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="AngleType">
				<xs:attribute name="zeroBearingType" type="ZeroBearingTypeType" use="optional" >
					<xs:annotation>
						<xs:documentation>
							A code indicating the direction of the zero bearing.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="DimensionsType">
		<xs:annotation>
			<xs:documentation>
				Describes dimensions: width, height, length.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="height" type="LengthType" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>
						Used, for example, to indicate a package's dimensions.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="length" type="LengthType" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>
						Used, for example, to indicate a package's dimensions.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="width" type="LengthType" minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>
						Used, for example, to indicate a package's dimensions.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Dimensions" type="DimensionsType" />

	<xs:complexType name="DistanceType">
		<xs:annotation>
			<xs:documentation>
				A type for returning the separation between two points. [ISO 19103, chapter 6.5.7.7]

			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LengthType"/>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="FlightLevelType">
		<xs:annotation>
			<xs:documentation>
				A surface of constant atmospheric pressure which is related to a specific pressure
				datum, 1 013.2 hectopascals (hPa), and is separated from other such surfaces by specific
				pressure intervals. [ICAO Doc 4444]
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="VerticalDistanceType">
				<xs:attribute name="uom" type="UomFlightLevelType" use="required" >
					<xs:annotation>
						<xs:documentation>
							Unit of measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="FrequencyType">
		<xs:annotation>
			<xs:documentation>
				The frequency value of a navigation system. [AIXM 5.1]
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="RestrictedFrequencyType">
				<xs:attribute name="uom" type="UomFrequencyType" use="required" >
					<xs:annotation>
						<xs:documentation>
							Unit of measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="RestrictedFrequencyType">
		<xs:annotation>
			<xs:documentation>
				Helper type for restrictions on FrequencyType
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="MeasureType">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="GroundSpeedType">
		<xs:annotation>
			<xs:documentation>
				The speed of an aircraft relative to the surface of the earth. [ICAO Doc 9426]
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="RestrictedGroundSpeedType">
				<xs:attribute name="uom" type="UomGroundSpeedType" use="required" >
					<xs:annotation>
						<xs:documentation>
							Unit of measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="RestrictedGroundSpeedType">
		<xs:annotation>
			<xs:documentation>
				Helper type for restrictions on GroundSpeedType
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="SpeedType">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="HeightType">
		<xs:annotation>
			<xs:documentation>
				The vertical distance of a level, a point or an object considered as a point, measured
				from a specified datum. [ICAO Doc 4444]
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="VerticalDistanceType">
				<xs:attribute name="ref" type="VerticalReferenceType" use="optional" >
					<xs:annotation>
						<xs:documentation>
							Reference for the vertical measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="uom" type="UomHeightType" use="required" >
					<xs:annotation>
						<xs:documentation>
							Unit of measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="IndicatedAirspeedType">
		<xs:annotation>
			<xs:documentation>
				The uncorrected reading on the airspeed indicator. [ICAO Doc 9426]
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="RestrictedIndicatedAirspeedType">
				<xs:attribute name="uom" type="UomAirspeedType" use="required" >
					<xs:annotation>
						<xs:documentation>
							Unit of measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="RestrictedIndicatedAirspeedType">
		<xs:annotation>
			<xs:documentation>
				Helper type for restrictions on IndicatedAirspeedType
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="SpeedType">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="LengthType">
		<xs:annotation>
			<xs:documentation>
				The measure of distance as an integral, for example the length of curve, the perimeter
				of a polygon as the length of the boundary. [ISO 19103, chapter 6.5.7.6]
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="RestrictedLengthType">
				<xs:attribute name="uom" type="UomLengthType" use="required" >
					<xs:annotation>
						<xs:documentation>
							Unit of measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="RestrictedLengthType">
		<xs:annotation>
			<xs:documentation>
				Helper type for restrictions on LengthType
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="MeasureType">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MeasureType">
		<xs:annotation>
			<xs:documentation>
				The result from performing the act or process of ascertaining the value of a characteristic
				of some entity. [ISO 19103, chapter 6.5.7.2]
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:element name="Measure" type="MeasureType" />

	<xs:complexType name="PressureType">
		<xs:annotation>
			<xs:documentation>
				The value of a pressure. [AIXM 5.1]
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="RestrictedPressureType">
				<xs:attribute name="uom" type="UomPressureType" use="required" >
					<xs:annotation>
						<xs:documentation>
							Unit of measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="RestrictedPressureType">
		<xs:annotation>
			<xs:documentation>
				Helper type for restrictions on PressureType
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="MeasureType">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="RadioactivityType">
		<xs:annotation>
			<xs:documentation>
				The measure of the rate of decay, or activity, of a radioactive material. [FIXM]

			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="MeasureType">
				<xs:attribute name="uom" type="UomRadioactivityType" use="required" >
					<xs:annotation>
						<xs:documentation>
							Unit of measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="SpeedType">
		<xs:annotation>
			<xs:documentation>
				The value of a speed. [AIXM 5.1]
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="MeasureType"/>
	</xs:simpleType>
	<xs:element name="Speed" type="SpeedType" substitutionGroup="Measure" />

	<xs:complexType name="TemperatureType">
		<xs:annotation>
			<xs:documentation>
				The value of a temperature. [AIXM 5.1]
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="MeasureType">
				<xs:attribute name="uom" type="UomTemperatureType" use="required" >
					<xs:annotation>
						<xs:documentation>
							Unit of measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="TrueAirspeedType">
		<xs:annotation>
			<xs:documentation>
				The speed of the aeroplane relative to undisturbed air. [ICAO Doc 9713]
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="RestrictedTrueAirspeedType">
				<xs:attribute name="uom" type="UomAirspeedType" use="required" >
					<xs:annotation>
						<xs:documentation>
							Unit of measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="RestrictedTrueAirspeedType">
		<xs:annotation>
			<xs:documentation>
				Helper type for restrictions on TrueAirspeedType
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="SpeedType">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="VerticalDistanceType">
		<xs:annotation>
			<xs:documentation>
				A vertical distance value. [AIXM 5.1]
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="MeasureType"/>
	</xs:simpleType>
	<xs:element name="VerticalDistance" type="VerticalDistanceType" substitutionGroup="Measure" />

	<xs:complexType name="VerticalRateType">
		<xs:annotation>
			<xs:documentation>
				An expression of an aircraft's vertical rate of change. [FIXM]
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="SpeedType">
				<xs:attribute name="uom" type="UomVerticalRateType" use="required" >
					<xs:annotation>
						<xs:documentation>
							Unit of measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="VerticalReferenceType">
		<xs:annotation>
			<xs:documentation>
				A code indicating the reference for a vertical distance. [AIXM 5.1]
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSL">
				<xs:annotation>
					<xs:documentation>
						The distance measured from mean sea level (equivalent to altitude). [AIXM 5.1]
						<xs:deprecated>
							<xs:deletionVersion>5.0.0</xs:deletionVersion>
							<xs:deprecationVersion>4.1.0</xs:deprecationVersion>
							<xs:rationale>CR #13. Simplify Vertical Distance Modeling</xs:rationale>
							<xs:replacement>N/A</xs:replacement>
						</xs:deprecated>
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SFC">
				<xs:annotation>
					<xs:documentation>
						The distance measured from the surface of the Earth (equivalent to AGL - Above Ground
						Level). [AIXM 5.1]
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STD">
				<xs:annotation>
					<xs:documentation>
						The vertical distance is measured with an altimeter set to the standard atmosphere.
						[AIXM 5.1]
						<xs:deprecated>
							<xs:deletionVersion>5.0.0</xs:deletionVersion>
							<xs:deprecationVersion>4.1.0</xs:deprecationVersion>
							<xs:rationale>CR #13. Simplify Vertical Distance Modeling</xs:rationale>
							<xs:replacement>N/A</xs:replacement>
						</xs:deprecated>
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="W84">
				<xs:annotation>
					<xs:documentation>
						The distance measured from the WGS84 ellipsoid. [AIXM 5.1]
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="VolumeType">
		<xs:annotation>
			<xs:documentation>
				The measure of the physical space of any 3-D geometric object. [ISO 19103, chapter
				6.5.7.15]
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="RestrictedVolumeType">
				<xs:attribute name="uom" type="UomVolumeType" use="required" >
					<xs:annotation>
						<xs:documentation>
							Unit of measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="RestrictedVolumeType">
		<xs:annotation>
			<xs:documentation>
				Helper type for restrictions on VolumeType
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="MeasureType">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="WeightType">
		<xs:annotation>
			<xs:documentation>
				The value of a weight. [AIXM 5.1]
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="RestrictedWeightType">
				<xs:attribute name="uom" type="UomWeightType" use="required" >
					<xs:annotation>
						<xs:documentation>
							Unit of measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="RestrictedWeightType">
		<xs:annotation>
			<xs:documentation>
				Helper type for restrictions on WeightType
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="MeasureType">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="WindDirectionType">
		<xs:annotation>
			<xs:documentation>
				Direction from which the wind blows. [International Meteorological Vocabulary, WMO]

			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="AngleType"/>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="WindSpeedType">
		<xs:annotation>
			<xs:documentation>
				The speed of wind. [FIXM]
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="RestrictedWindSpeedType">
				<xs:attribute name="uom" type="UomWindSpeedType" use="required" >
					<xs:annotation>
						<xs:documentation>
							Unit of measure
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="RestrictedWindSpeedType">
		<xs:annotation>
			<xs:documentation>
				Helper type for restrictions on WindSpeedType
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="SpeedType">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ZeroBearingTypeType">
		<xs:annotation>
			<xs:documentation>
				A code indicating the direction of the zero bearing.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRUE_NORTH">
				<xs:annotation>
					<xs:documentation>
						This value indicates that the direction is relative to True North.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MAGNETIC_NORTH">
				<xs:annotation>
					<xs:documentation>
						This value indicates that the direction is relative to Magnetic North.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
