4_1_0/example/base/Types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>This package contains representations for basic geometry, numeric, temporal and textual types. [FIXM]</xs:documentation>
	</xs:annotation>

    <xs:simpleType name="AftnAddressType">
        <xs:annotation>
            <xs:documentation>
                Standard AFTN address.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="CharacterStringType"/>
    </xs:simpleType>

    <xs:simpleType name="AircraftIdentificationType">
        <xs:annotation>
            <xs:documentation>
                A group of letters, figures or a combination thereof which is either identical to,
                or the coded equivalent of, the aircraft call sign to be used in air-ground communications,
                and which is used to identify the aircraft in ground-ground air traffic services
                communications. [ICAO Doc 4444]
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="CharacterStringType">
            <xs:pattern value="[A-Z0-9]{2,7}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AircraftTypeDesignatorType">
        <xs:annotation>
            <xs:documentation>
                A group of alphanumeric characters used to identify, in an abbreviated form, a type
                of aircraft. [ICAO Doc 9426]

                Approved aircraft type designators are defined in ICAO Doc. 8643 - Aircraft Type
                Designators. [FIXM]
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="CharacterStringType">
            <xs:pattern value="[A-Z0-9]{2,4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AirportSlotIdentificationType">
        <xs:annotation>
            <xs:documentation>
                The identifier of the scheduled time of arrival or departure available for allocation
                by, or as allocated by, a coordinator for an aircraft movement on a specific date
                at a coordinated airport. [adapted from IATA Worldwide Scheduling Guidelines, 21st
                Edition]
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="CharacterStringType">
            <xs:minLength value="0"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CharacterStringType">
        <xs:annotation>
            <xs:documentation>
                A sequence of characters [specialised from ISO19103, chapter 6.5.2.7].

                In FIXM, the maximum length of a CharacterString is set to 4096 characters. [FIXM]

            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="4096"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CountType">
        <xs:annotation>
            <xs:documentation>
                Represents non-negative integer counts of objects.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DecimalIndexType">
        <xs:annotation>
            <xs:documentation>
                Generic decimal fraction expressed to tenths, used as scaling or comparison factor.
                [FIXM]
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="4"/>
            <xs:fractionDigits value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DurationType">
        <xs:annotation>
            <xs:documentation>
                Length or distance in the temporal dimension. [ISO 19108, chapter 5.2.3.7]

                Duration has no reference to start or stop times.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:duration"/>
    </xs:simpleType>

    <xs:complexType name="GloballyUniqueFlightIdentifierType">
        <xs:annotation>
            <xs:documentation>
                A single reference for FF-ICE information pertinent to a flight that is unique globally.
                [ICAO Doc 9965]
                This is a reference that uniquely identifies a specific flight and is independent
                of any particular system. [FIXM]
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="RestrictedGloballyUniqueFlightIdentifierType">
                <xs:attribute name="codeSpace" type="xs:string" fixed="urn:uuid" use="required" >
                    <xs:annotation>
                        <xs:documentation>
                            Code Space of the GUFI
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="RestrictedGloballyUniqueFlightIdentifierType">
        <xs:annotation>
            <xs:documentation>
                Helper type for restrictions on GloballyUniqueFlightIdentifierType
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="CharacterStringType">
            <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[89abAB][a-fA-F0-9]{3}-[a-fA-F0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ModeACodeType">
        <xs:annotation>
            <xs:documentation>
                Mode A SSR code. [FIXM]
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="CharacterStringType">
            <xs:pattern value="[0-7]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="SsrCodeType">
        <xs:annotation>
            <xs:documentation>
                The number assigned to a particular multiple pulse reply signal transmitted by a
                transponder in Mode A or Mode C. [ICAO Doc 4444]
                <xs:deprecated>
                    <xs:deletionVersion>5.0.0</xs:deletionVersion>
                    <xs:deprecationVersion>4.1.0</xs:deprecationVersion>
                    <xs:rationale>CR #14 Remove SSR Mode</xs:rationale>
                    <xs:replacement>Fixm.Base.Types.ModeACode</xs:replacement>
                </xs:deprecated>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="RestrictedSsrCodeType">
                <xs:attribute name="ssrMode" type="SsrModeType" use="optional" >
                    <xs:annotation>
                        <xs:documentation>
                            Optional Secondary Surveillance Radar (SSR) Mode.
                            <xs:deprecated>
                                <xs:deletionVersion>5.0.0</xs:deletionVersion>
                                <xs:deprecationVersion>4.1.0</xs:deprecationVersion>
                                <xs:rationale>CR #14. Remove SSR Model</xs:rationale>
                            </xs:deprecated>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="RestrictedSsrCodeType">
        <xs:annotation>
            <xs:documentation>
                Helper type for restrictions on SsrCodeType
                <xs:deprecated>
                    <xs:deletionVersion>5.0.0</xs:deletionVersion>
                    <xs:deprecationVersion>4.1.0</xs:deprecationVersion>
                    <xs:rationale>CR #14 Remove SSR Mode</xs:rationale>
                    <xs:replacement>Fixm.Base.Types.ModeACode</xs:replacement>
                </xs:deprecated>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="CharacterStringType">
            <xs:pattern value="[0-7]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SsrModeType">
        <xs:annotation>
            <xs:documentation>
                Represents the enumeration of Secondary Surveillance Radar (SSR) Modes:
                * A - Transponder-Mode A (4 digits-4,096 codes)
                * C - Transponder-Mode A (4 digits-4,096 codes) and Mode C
                * S - Transponder-Mode S, including both pressure-altitude and aircraft identification
                transmission
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="A">
                <xs:annotation>
                    <xs:documentation>
                        Indicates Secondary Surveillance Radar (SSR) is operating in Transponder-Mode A.

                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C">
                <xs:annotation>
                    <xs:documentation>
                        Indicates Secondary Surveillance Radar (SSR) Transponder-Mode A and Mode C.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="S">
                <xs:annotation>
                    <xs:documentation>
                        Indicates Secondary Surveillance Radar (SSR) Transponder-Mode S.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TextNameType">
        <xs:annotation>
            <xs:documentation>
                The official name of a State, an aerodrome, a unit, etc... [AIXM 5.1]
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="CharacterStringType">
            <xs:pattern value="([A-Z]|[0-9]|[, !&quot;&amp;amp;#$%'\(\)\*\+\-\./:;&amp;lt;=&amp;gt;\?@\[\\\]\^_\|\{\}])*"/>
            <xs:minLength value="0"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TimeType">
        <xs:annotation>
            <xs:documentation>
                A combination of a date and a time type. [ISO 19103, chapter 6.5.2.10]
                A Time instant placeholder for gml:TimePositionType, in its XML dataTime variation.
                [FIXM]
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="-?([1-9][0-9]{3,}|0[0-9]{3})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?|(24:00:00(\.0+)?))Z"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
